{% extends 'base.html' %}
{% block title %}favorites{% endblock %}
{% block content %}

<h1>favorite ski resorts:</h1>

{% if favs %}
  <div class="list-group"></div>
    {% for f in favs %}
        <form class="list-group-item list-group-item-action" action="/favorites/remove/{{ f.resort.id }}" method="POST">
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <a href="/resort/{{ f.resort.id }}">{{ f.resort.name }}</a>
            </div>
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-danger">x</button>
            </div>
          </div>
        </form>
    {% endfor %}
{% endif %}

{% endblock %}