{% extends 'base.html' %}

{% block content %}

<div class="container justify-content-center">
  <form method="POST" action="/">
    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <div class="form-group">
      {{ field.label }}
      {{ field(class_="form-control") }}

      {% for error in field.errors %}
      {{ error }}
      {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Find Resorts</button>
  </form>
</div>

<div class="container justify-content-center">
  {% block results %}
  {% endblock results %}
</div>

{% if searches %}
<h3>recent searches:</h3>
<div class="container justify-content-center">
  <div class="card-deck">
    {% for search in searches %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="/resort/{{ search.searched_resort.id }}">{{ search.searched_resort.name }}</a></h5>
        <p class="card-text">Lifts: {{ search.searched_resort.lifts }} | Runs: {{ search.searched_resort.runs }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endblock content %}

