{% extends 'base.html' %}

{% block content %}
<h1>Weather for {{ resort.name }}</h1>
<div class="card-deck">

{% for day in r.data %}
  <div class="card">
      <img class="card-img-top" src="https://www.weatherbit.io/static/img/icons/{{ day['weather']['icon'] }}.png" alt="{{ day['weather']['description'] }}">
    <div class="card-body">
      <h5 class="card-title">{{ day['datetime'] }}</h5>
      <p class="card-text">High: {{ day['high_temp']|round|int }} Low: {{ (day['low_temp'])|round|int }}</p>
      <p class="card-text">Snow: {{ day['snow'] }} in</p>
    </div>
  </div>
  {% endfor %}

</div>
<form action="/favorite/add/{{ resort.id }}" method="POST">
  <button class="btn btn-success">add favorite</button>
</form>

<button class="btn btn-danger"><a href="/">back</a></button>
{% endblock %}