{% extends 'base.html' %}

{% block content %}
<h1>Weather for {{ resort.name }}</h1>
<div class="card-deck">

{% for day in forecast.data %}
  <div class="card border-{{ day['category'] }}">

    <img class="card-img-top" src="https://www.weatherbit.io/static/img/icons/{{ day['weather']['icon'] }}.png" alt="{{ day['weather']['description'] }}">
    
    <div class="card-body">
      <h5 class="card-title">{{ day['datetime'] }}</h5>
      <p class="card-text">High: {{ day['high_temp']|round|int }} Low: {{ (day['low_temp'])|round|int }}</p>
      <p class="card-text">Snow: {{ day['snow'] }} in</p>
    </div>

    {% if day['suggestion'] %}
    <h5 class="card-footer bg-{{ day['category'] }} text-white">{{ day['suggestion'] }}</h5>
    {% endif %}
  </div>


{% endfor %}

</div>
{% if session.get("user_id") %}
<form action="/favorite/add/{{ resort.id }}" method="POST">
{% else %}
<form action="/register" method="POST">
{% endif %}
  <button class="btn btn-success">add favorite</button>
</form>

<button class="btn btn-danger" onclick="history.back()">back</button>
{% endblock %}